<div class="c-container">
    <!--<table>
        <tr>
            <td>-->
    <div class="c-container c-wbs" id="tree">
        <h3>{{cTitle}}</h3>
        <c-wbs-tree-element [(we)]="_wbss"></c-wbs-tree-element>
    </div>
    <!--</td>
            <td>-->
    <!--<c-wbs-detail [ngClass]="{hidden: _wbsHidden}"></c-wbs-detail>
    <c-mat-detail [ngClass]="{hidden: _matHidden}"></c-mat-detail>-->
    <c-wbs-detail [hidden]="_wbsHidden"></c-wbs-detail>
    <c-mat-detail [hidden]="_matHidden"></c-mat-detail>
    <!--</td>
        </tr>
    </table>-->
    <div class="c-container c-wbs" id="tree">
        <h3></h3>

        <ul>



            <li>
                <div class="tree-button">
                    <span><button> ^ </button></span>
                    <span><button> &gt; </button></span>
                    <span><button> C </button></span>
                </div>
                <span style="display: inline-block; overflow: hidden; width: 250px">
            <b>A</b> PEKERJAAN PAGAR
        </span>

                <ul>



                    <li>
                        <div class="tree-button">
                            <span><button> ^ </button></span>
                            <span><button> &gt; </button></span>
                            <span><button> C </button></span>
                        </div>
                        <span style="display: inline-block; overflow: hidden; width: 250px">
            <b>L001</b> Pagar Bagian Samping dan Belakang
        </span>

                        <ul>



                            <li>
                                <div class="tree-button">
                                    <span><button> ^ </button></span>
                                    <span><button> &gt; </button></span>
                                    <span><button> C </button></span>
                                </div>
                                <span style="display: inline-block; overflow: hidden; width: 250px">
            <b>L001.01</b> Galian Pondasi Pagar Samping &amp; Belakang
        </span>

                                <ul>



                                </ul>


                                <ul>



                                    <li>
                                        <div class="tree-button">
                                            <span><button> + </button></span>
                                        </div>
                                        <span style="display: block; min-width: 50px">
            <b>CBA015</b> GALIAN TANAH PONDASI MANUAL + LANGSIR DEKAT
        </span>
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <div class="tree-button">
                                    <span><button> ^ </button></span>
                                    <span><button> &gt; </button></span>
                                    <span><button> C </button></span>
                                </div>
                                <span style="display: inline-block; overflow: hidden; width: 250px">
            <b>L001.02</b> Urugan sirtu tebal 20cm di bawah batu kali
        </span>

                                <ul>



                                </ul>


                                <ul>



                                    <li>
                                        <div class="tree-button">
                                            <span><button> + </button></span>
                                        </div>
                                        <span style="display: block; min-width: 50px">
            <b>AAA191</b> SIRTU
        </span>
                                    </li>
                                    <li>
                                        <div class="tree-button">
                                            <span><button> + </button></span>
                                        </div>
                                        <span style="display: block; min-width: 50px">
            <b>CBA045</b> GELAR SIRTU BWH LANTAI+PADAT
        </span>
                                    </li>
                                </ul>

                            </li>
                        </ul>


                        <ul>



                        </ul>

                    </li>
                    <li>
                        <div class="tree-button">
                            <span><button> ^ </button></span>
                            <span><button> &gt; </button></span>
                            <span><button> C </button></span>
                        </div>
                        <span style="display: inline-block; overflow: hidden; width: 250px">
            <b>L002</b> Pagar Depan
        </span>

                        <ul>



                        </ul>


                        <ul>



                        </ul>

                    </li>
                </ul>


                <ul>



                </ul>

            </li>
            <li>
                <div class="tree-button">
                    <span><button> ^ </button></span>
                    <span><button> &gt; </button></span>
                    <span><button> C </button></span>
                </div>
                <span style="display: inline-block; overflow: hidden; width: 250px">
            <b>B</b> PEKERJAAN SALURAN
        </span>

                <ul>



                </ul>


                <ul>



                </ul>

            </li>
        </ul>

    </div>
</div>